


$primary: #007bff;
$secondary: #6c757d;
$dark: #080808;
$light: #f8f9fa;

// Map des couleurs spécifiques
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
);




.navbar-nav .nav-link.active {
  font-weight: bold;

  border-bottom: 2px solid white; /* Ajoute un soulignement */
}

.navbar-nav .nav-link:hover {
  font-weight: bold;

  border-bottom: 2px solid white; /* Ajoute un soulignement */
}

.icones {
  display: flex;
  gap: 10px;
}

i {
  font-size: 24px;
  color: gray;
}

i:hover {
  color: white;
}

.nav-link:hover {
  font-weight: bold;
}

.footer-address {
    font-size: 0.7rem;   /* très petit */
  line-height: 1.2;   /* lignes serrées */
}

.back-home::after {
content:"";
margin-left: 10px;

}

.back-home:hover::after {
  content: "Retour à l'accueil ";
  font-size: 0.7em;
  color: yellowgreen;
}