.classement {
    border:2px solid black;
    margin-top: 2em;
    background: linear-gradient(rgb(205, 255, 192), rgb(0, 96, 128));
    color:white;
    border-radius: 10px;
}

.news {
    font-size: 1em;
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 38px;
    padding-top: 5px;

}