@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;

 

} 

.home-title-h1, .title-h2{
  font-weight: 600;
  
  font-weight: bold; 
}

.title-h1{
  font-size: 4rem; 


}

.title-h2{
  font-size: 3rem; 


}

header{
  display: flex;
  flex-direction: column;
 
}

#navbarNavAltMarkup{
  justify-content: end;
}



.container-fluid {
  text-transform: uppercase;
 
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  background-image: url('/public/img/hero-bg.jpg');
  background-size: cover;
  min-height: 80vh;
  width: 100%;

  
}

.cont-A {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 40px; 
  padding: 40px; 
  border: 2px solid grey(0, 0, 0, 0.2); 
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow:  5px 5px 5px 5px rgba(0, 0, 0, 0.3); /* Ombre autour du bloc */
  background-color: white; 
  width: 90%;
  margin: 0 auto; /* Centre horizontalement */
  margin-left: 10px;
  margin-bottom: 10px;
      
}

.cont-A-1,
.cont-A-2 {
  width: 45%; /* Réduire un peu la largeur pour éviter les débordements */
  min-width: 300px; 
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap:2px;
  
}

.about-img {
  width: 100%; 

  height: auto; 
  object-fit: cover;
  
}

footer{
  display: flex;
  color:white;
  justify-content: center;
  
  width: 100%;
  margin: 0;
  gap: 5px;
  
}

.footer-title{
  font-size: 1,2rem;
  font-weight: bold;
}

.progress{
  width: 100%;
}

.comp{
  margin-bottom: 5px;
  margin-top: 15px;
}

footer section{
  width: 20rem;
}

.row{
  justify-content: center;
}

.entete{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.title-cont-A{
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 3px solid blue;
}

iframe{
  width: 100%;
  height: 30rem;
}

textarea{
  height: 100%;
}

.btn{
  width: auto;
  align-self: center;
  
}

hr{
  width: 30%;
  align-self: center;
  border: solid 2px;
  border-color: blue;
}